[submodule "qat_cache_flush"]
	path = qat_cache_flush
	url = git@gitlab.ittc.ku.edu:n869p538/qat_cache_flush.git
[submodule "scripts/kvs/memcached"]
	path = scripts/kvs/memcached
	url = git@github.com:neelpatelbiz/memcached.git
[submodule "nginx_compress_emul/nginx-gzip_offload"]
	path = nginx_compress_emul/nginx-gzip_offload
	url = git@github.com:neelpatelbiz/nginx-gzip_offload.git
[submodule "iperf_test/iperf_ktls"]
	path = iperf_test/iperf_ktls
	url = https://github.com/BorisPis/iperf.git
[submodule "iperf_test/iperf"]
	path = iperf_test/iperf
	url = https://github.com/BorisPis/iperf.git
[submodule "cache_flush_overhead/papi"]
	path = cache_flush_overhead/papi
	url = https://bitbucket.org/icl/papi.git
[submodule "ngx_gzip_comp_cpy"]
	path = ngx_gzip_comp_cpy
	url = git@github.com:neelpatelbiz/ngx_gzip_comp_cpy.git
