*.swn
*.swp
*.swo
/cpu*
/axdimm
/default
/pmu-tools
/html_files
/axdimm_test
/ktls
/qtls
/kvs
/memtier_build
/memtier_benchmark
/offload_kvs/*.pem
/offload_kvs/*.txt
/files_files
/kv_bench
/iperf_test/!(iperf_ktls|iperf_w_offload)
*.mem
*.txt
